.nav {
  background-color: green;
  width: 350px;
  height: 100vh;
  position: relative;

  &__box {
    position: fixed;
    left: 40px;
  }

  &__wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  &__heading {
    margin-top: 20px;
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid #fafafa;
  }

  &__link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
